{% extends 'home/base.html' %}
{% block home_body %}

<h1>小麥蜂网站使用守则</h1>
<h2>1.网站服务介绍</h2>
<p>我们的服务提供了一个平台让注册用户享用第三方的社交平台和其他时时信息交流平台，在上面购买物品，付款收款，或者捐款。
	交易方式通过第三方的支付平台。
	用户在平台上出售物品，发布筹资或者捐款等收款者被称为卖家，而用户在平台上购买物品，支付费用或者捐款被称作为买家。</p>

<h2>2.合法性</h2>
<p>使用服务限制与可以合法进行合作的对象。未满18周岁的用户不能使用此服务。通过注册网站使用服务，您表示而且
确认：（1）至少18周岁，或者是法律认同的成年人；（2）之前没有被移除或者停止使用服务；（3）有能力和权限来执行
协议并且同时不违反其他第三方的协议；（4）在所在区域不允许使用网站服务的地方不使用网站提供的服务</p>

<h2>3.注册和帐户</h2>
<p>为了使用小麥蜂时时交易平台的服务，您要求建立帐号并确提供注册信息。通过注册帐户，您同意（1）建立一个强力的密码
（2）注册信息真实并且正确（3）您将会及时更新数据保证您的信息时时，全面并且正确（4）通过保护您的密码和限制进入您关联
的社交帐户保证帐户的安全（5）及时告知小麥蜂网站维护人员任何您社交帐户的泄漏的情况（6）负责任何您帐户的行为和
潜在的不合法登陆帐户的危险</p>

<h2>4.隐私政策</h2>
<p>请参考我们的<a href="{% url 'home:privacy' %}">隐私政策</a>来了解小麥蜂网站如果使用，分享您的信息</p>

<h2>5.买家义务</h2>
<p>您同意作为买家，您将负责在购买或者捐款之前阅读卖家的全面的对于物品，服务介绍， 包括任何准测和情况。当您在某个社交平台上购买或者捐款时，您将进入法律上的和卖家的合同协议来完成购买或者捐款来接受交易的物品。
如果您尝试在创建小麥蜂帐户之前购买或者捐款，您将被导向注册页面，在您成功注册后您的购买或者捐款行为将被继续。
您同意仔细查看卖家的信息并确解决所有对于购买或者捐款的疑问和争执。小麥蜂不受理任何买家和卖家之间的争执。
我们允许您在支付宝保存支付信息。当您通过支付宝支付或者捐款时，支付宝会通过卖家处理支付。</p>

<h2>6.卖家义务</h2>
<h3>6.1通过支付宝收款</h3>
<p>您会通过您连接的支付宝帐户得到收款。您对支付宝帐户的使用请参照支付宝使用条例</p>

<h3>6.2通过网银收款</h3>
<p>小麥蜂网站还没有推出网银收款功能</p>

<h3>6.3卖家货物</h3>
<p>您同意对买家提供清晰详尽的物品资料。卖家的任何物品会对支付您的买家或者捐款者产生协议。在发送货物时。。。</p>
{% endblock %}









