{% extends "listing/itemlist.html" %} 
{% block itemList_content %}	


<script type="text/javascript">
	$(function() {
		$('#id_metadata_table tbody tr').formset({
			extraClasses: ['row1', 'row2', 'row3']
		})
	})
</script>
<!-- Here's an example of how you can style add/delete buttons with CSS -->
<style type="text/css">
	.add-row {
		padding-left:18px;
		background:url({{ MEDIA_URL }}images/add.png) no-repeat left center;
	}
	.delete-row {
		float:right;
		display:block;
		margin:5px 0 0 5px;
		text-indent:-6000px;
		background:url({{ MEDIA_URL }}images/delete.png) no-repeat left center;
		width:16px;
		height:16px;
	}
	tr.row1 td { background-color: #f9f9f9; }
	tr.row2 td { background-color: #f3f3f3; }
	tr.row3 td { background-color: #ededed; }
</style>


<form method='post' action='{% url 'dashboard:listing:item-update-physical' pk=item.id%}' enctype="multipart/form-data">{% csrf_token %}
	<div> <!--row-->
		<div class="box span6">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>编辑实体物品</h2>
			</div>

			<div class="box-content">
				<div class="control-group">
					<label class="control-label" for="date01">{{form.name.label_tag}}</label>
					<div class="controls">{{form.name}}</div>
					<div class="controls">{{form.name.errors}}</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="date01">{{form.description.label_tag}}</label>
					<div class="controls">{{form.description}}</div>
					<div class="controls">{{form.description.errors}}</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="date01">{{form.price.label_tag}}</label>
					<div class="input-prepend input-append">
						<div class="controls">
							<span class="add-on">$</span>{{form.price}}<span class="add-on">元</span>
						</div>
					</div>
					<div class="controls">{{form.price.errors}}</div>
				</div>   

				<div class="control-group">
					<label class="control-label" for="date01">{{form.availability.label_tag}}</label>
					<div class="input-append">
						<div class="controls">
							{{form.availability}}<span class="add-on">个</span>
						</div>
					</div>
					<div class="controls">{{form.availability.errors}}</div>
				</div>    

				<div class="control-group">
					<label class="control-label" for="date01">{{form.purchase_limit.label_tag}}</label>
					<div class="input-append">
						<div class="controls">
							{{form.purchase_limit}}<span class="add-on">个</span>
						</div>
					</div>
					<div class="controls">{{form.purchase_limit.errors}}</div>
				</div>  

				<div class="control-group">
					<label class="control-label" for="date01">{{form.logistics_type.label_tag}}</label>
					<div class="controls">{{form.logistics_type}}</div>
					<div class="controls">{{form.logistics_type.errors}}</div>
				</div>   

				<div class="control-group">
					<label class="control-label" for="date01">{{form.logistics_fee.label_tag}}</label>
					<div class="input-prepend input-append">
						<div class="controls">
							<span class="add-on">$</span>{{form.logistics_fee}}<span class="add-on">元</span>
						</div>
					</div>
					<div class="controls">{{form.logistics_fee.errors}}</div>
				</div>  

				<div class="control-group">
					<label class="control-label" for="date01">{{form.logistics_payment.label_tag}}</label>
					<div class="controls">{{form.logistics_payment}}</div>
					<div class="controls">{{form.logistics_payment.errors}}</div>
				</div> 

				<table id="id_metadata_table" border="0" cellpadding="0" cellspacing="5">
					<thead>
						<tr>
							<th scope="col">参数</th>
							<th scope="col">数值</th>
						</tr>
					</thead>
					<tbody>
						{% for form in metadata_formset.forms %}
						<tr id="{{ form.prefix }}-row">
							<td>{{ form.name }}</td>
							<td>{{ form.value }}</td>
						</tr>
						{% endfor %}
						{{ metadata_formset.management_form }}
					</tbody>
				</table>
			</div>
		</div><!--/span-->

		<div class="box span6">
			<div class="control-group">
				<label class="control-label" for="date01">{{form.image.label_tag}}</label>
				<div class="controls">{{form.image}}</div>
				<div class="controls">{{form.image.errors}}</div>
			</div> 
			<div class="box-header">
				<h2><i class="halflings-icon align-justify"></i><span class="break"></span>已添加社交帐号</h2>
			</div>
			<div class="box-content">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>帐号昵称</th>
							<th>添加日期</th>
							<th>平台</th>
							<th>评论数</th>  
							<th>已卖出</th>
							<th>删除</th>                                        
							</tr>
					</thead>   
					<tbody>
					{% for post in content_posts %}
						<tr>
							<td>{{post.user_name|escape}}</a></td>
							<td class="center">{{ post.post_date|date:"SHORT_DATE_FORMAT" }}</td>
							<td class="center">{{ post.platform }}
							<td class="center">{{ post.comments_count }}</td>   
							<td class="center">0</td>   
							<td class="center"><a class="btn btn-danger" href="#"> <!--TODO: ajax delete -->
							<i class="halflings-icon trash halflings-icon"></i></td>                               
						</tr>
					{% endfor %}  
					</tbody>
				</table>  
			</div>

			<p></p>

			<div class="box-header">
				<h2><i class="halflings-icon plus"></i><span class="break"></span>添加到新的社交帐号</h2>
			</div>

			<div class="box-content">
				<table class="table table-bordered table-striped">
				{{select_client_form}}	
				</table>
			</div>

			<br><br><br>

			<div class="form-actions">
				<button class="btn btn-large btn-success" name="update">更新</button>			
			</div>
			<div class="form-actions">
				<form action='{% url 'dashboard:listing:itemlist' %}'>
					<button type="submit" class="btn btn-warning" name="back"/>返回</button>
				</form>
			</div>
			<div class="form-actions">
				<form method='post' action='{% url 'dashboard:listing:delete-item-physical' pk=item.id %}'>{% csrf_token %}
					<button type="submit" class="btn btn-danger" name="back"/>删除物品</button>
				</form>	
			</div>					
		</div><!--/span-->	
	</div><!--/row-->
</form>
{% endblock %}
			

