{% extends "dashboard/index.html" %}		
<!-- start: Content -->
{% block content %}
<div>		
	<div class="box span12">
	{% block ticketpasslist_content %}
		<div class="box-header" data-original-title>
			<h2><i class="halflings-icon plus"></i><span class="break"></span>门票列表
			{% if messages %}
				{% for message in messages|slice:":3" %}
					{% if 'warning' in message.tags %}
						<span class="label label-warning">{{message}}</span>
					{% elif 'success' in message.tags %}
						<span class="label label-success">{{message}}</span>
					{% endif %}									
				{% endfor %}
			{% endif %}	
			</h2>
		</div>

		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<tr>
						<th>门票名称</th>
						<th>活动开始</th>
					</tr>
				</thead>   
				 <tbody>
				{% for ticketpass in ticketpasss %}
					<tr>
						<td class="center"><a href="{{ticketpass.get_absolute_url}}">{{ ticketpass.title }}</a></td>
						<td class="center">{{ ticketpass.event_start }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% endblock %}
	</div><!--/span-->
	<!--
	<div class="span4 noMarginLeft">
		<div class="message dark">
			<div class="header">
				<h1>"广告区"</h1>
			</div>		
			<div class="content">
				<p>这里是第一广告区</p>
			</div>
						
			<div class="attachments">
				<p>这里是第二广告区</p>
			</div>
		</div>	
	</div>-->
			
</div><!--/row-->
<!-- end: Content -->
{% endblock %}
			

